<!--Comment Body-->
<div class="card comment">
  <div class="card-header">
    <nav class="navbar navbar-expand navbar-light bg-light">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <!--Add link to comment author profile-->
            <a class="h4 nav-link comment-author" href="#">Comment Author</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="comment-vote-container bg-light">
    <div id="comment-voting" class="bg-light">
      <button id="#" type="button" class="btn comment-upvote btn-outline-primary">
        <i class="fa fa-arrow-up"></i>
      </button>
      <div id="comment-rating" class="w-5 p-3">0</div>
      <button id="#" type="button" class="btn comment-downvote btn-outline-primary">
        <i class="fa fa-arrow-down"></i>
      </button>
    </div>
  </div>
  <div class="card-body">
    <p id="comment-content" class="card-text"></p>
  </div>
</div>