<div class="card">
    <div class="ratingContainer">
        <button type="button" class="btn btn-outline-primary">
            <i class="fa fa-arrow-up"></i>
        </button>
        <div class="card-description rating w-5 p-3">0</div>
        <button type="button" class="btn btn-outline-primary">
            <i class="fa fa-arrow-down"></i>
        </button>
    </div>
    <div class="body" class="card-body">
        <div class="card-body">
            <h5><span class="type badge badge-secondary">Type</span></h5>
            <h5 class="card-title title">Post Title</h5>
        </div>
        <div class="card-body">
            <h5 class="card-description author">Author</h5>
        </div>
        <div class="card-body">
            <p class="card-description description">Some example text to serve as a placeholder for the description of the
                post.</p>
            <a href="#" class="view btn btn-primary">View</a>
        </div>
    </div>
</div>